@import url(variables.css);

body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
              url('../../images/background-shop.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1000;
  display: none;
}
.loading-spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.register-container {
  background-color: var(--white-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  height: 70%;
  width: 300px;
  text-align: center;
  align-items: center;
}

.register-container input[type="text"],
.register-container input[type="password"] {
  width: 80%;
  padding: 10px;
  height: 20px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: var(--accent-color);
  background-color: var(--light-color);
}

.register-container button {
  width: 70%;
  padding: 15px;
  background-color: black;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
}

.register-container button:hover {
  background-color: var(--accent-color);
}

.signup-link {
  margin-top: 20px;
  font-size: 14px;
  color: #333;
}

.signup-link a {
  color: #007bff;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}

.username-icon {
  height: 20px;
  width: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin: 10px 0;
  background-color: var(--light-gray-color)
}

.lock-icon {
  height: 20px;
  width: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin: 10px 0;
  background-color: var(--light-gray-color)
}

.username-container {
  display: flex;
  flex-direction: row;
}

.password-container {
  display: flex;
  flex-direction: row;
}

input:focus {
  outline: none;
}

p {
  color: var(--accent-color);
}

svg {
  height: 20px;
  width: 20px;
  padding-right: 30px;
  color: var(--accent-color);
}

#footer {
  width: 100%;
  background-color: var(--white-color);
  margin-top: 5%;
  height: 15%;
}

.footer-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shipping {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 70px;
}

.payment-method {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 70px;
}

.visa, .mastercard, .paypal {
  padding-right: 15px;
}


ul {
  display: flex;
  list-style-type: none;
}

h2 {
  color: var(--gray-color-800);
}





